html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: "Roboto", sans-serif;
}
#root {
  height: 100%;
  width: 100%;
}
body {
  /* Тут можно изменить фон */
  background-color: #695ca3;
}
